/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: white;
  color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
  height: 40px;
}

.full-logo {
  display: block;
}

.collapsed-logo {
  display: none;
}

.navbar-links,
.menu-button {
  display: flex;
  align-items: center;
}

.menu-button {
  display: none;
}

.navbar-links > * {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .full-logo {
    display: none;
  }

  .collapsed-logo {
    display: block;
  }
}

/* Drawer Styles */
.ant-drawer-header {
  background-color: #f0f2f5;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500;
}

.ant-drawer-body {
  padding: 0 24px;
}

.ant-btn-block {
  text-align: left;
  padding-left: 24px;
}