/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: white;
  color: black;
  position: fixed; /* Fixed positioning */
  top: 0; /* Stick to the top */
  width: 100%; /* Full width */
  margin: auto;
  z-index: 1000; /* Ensure it's on top of other elements */
}

.navbar-logo img {
  height: 60px;
}

.full-logo {
  display: block;
}

.collapsed-logo {
  display: none;
}

.navbar-links,
.menu-button {
  display: flex;
  align-items: center;
}

.menu-button {
  display: none;
}

.navbar-links > * {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .full-logo {
    display: none;
  }

  .collapsed-logo {
    display: block;
  }
  .navbar{
    width: 97%;
  }
}

/* Drawer Styles */
.ant-drawer-header {
  background-color: #f0f2f5;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500;
}

.ant-drawer-body {
  padding: 0 24px;
}

.ant-btn-block {
  text-align: left;
  padding-left: 24px;
}